{
  "Get-AzContainerRegistryCredential+[NoContext]+List+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lnxtest/providers/Microsoft.ContainerRegistry/registries/lnxcr/listCredentials?api-version=2022-02-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lnxtest/providers/Microsoft.ContainerRegistry/registries/lnxcr/listCredentials?api-version=2022-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "7" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "api-supported-versions": [ "2022-02-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"username\":\"lnxcr\",\"passwords\":[{\"name\":\"password\",\"value\":\"IV9SSHQiajiLlBUo/VOBmT8C5NwsS/l94BYllOwcwe+ACRDgEQXB\"},{\"name\":\"password2\",\"value\":\"yiORbXK1i2jPSR7EB8jD20o/9onjJYwtEFUmXLv0VA+ACRB7nNVL\"}]}",
    }
  }
}