{
  "New-AzContainerRegistryCredential+[NoContext]+Regenerate+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lnxtest/providers/Microsoft.ContainerRegistry/registries/lnxcr/regenerateCredential?api-version=2022-02-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lnxtest/providers/Microsoft.ContainerRegistry/registries/lnxcr/regenerateCredential?api-version=2022-02-01-preview",
      "Content": "{\r\n  \"name\": \"Password\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "api-supported-versions": [ "2022-02-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1197" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"username\":\"lnxcr\",\"passwords\":[{\"name\":\"password\",\"value\":\"j0xPKL9A5AIsLJxM7lpYqAIlfFFUdFbZQIqwOnFRII+ACRBs5TxS\"},{\"name\":\"password2\",\"value\":\"yiORbXK1i2jPSR7EB8jD20o/9onjJYwtEFUmXLv0VA+ACRB7nNVL\"}]}",
    }
  }
}